*{
	margin:0px;
	padding: 0px;

}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
    overflow-x: hidden;
    
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a,a:hover{
	text-decoration: none;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/**************************************************************
       ************header section start*****************
**************************************************************/
.header-section{
	width: 100%;
	background: url(../images/bnnr.png)center top no-repeat;
    background-size: cover;
	
}
 .header-section .bg-light {
    background-color: transparent!important;
    padding: 20px 0px;
}
 .header-section .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
}
 .header-section .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background: url(../images/br.png)center bottom no-repeat;
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
}
 .header-section .navbar-light .navbar-nav .active>.nav-link{
	 color: #fff;
	 background: url(../images/br.png)center bottom no-repeat;
}
/*****searchbar*****/


.searchbar {
    margin-bottom: auto;
    margin-top: 3px;
    height: 35px;
    border-radius: 50%;
    margin-right: 46px;
}

    
 .search_input {
    color: black;
    border: 0;
    outline: 0px;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 29px;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 100px;
    caret-color:red;
    transition: width 0.4s linear;
    top: -67px;
    background: #fff;
    }

    .searchbar:hover > .search_icon{
    background: transparent;
    color: red;
    
    
    }
    .search_icon{
    font-size: 30px
    height: 31px;
    width: 24px;
    float: right;
    border-radius: 50%;
    padding: 0px;
    margin-right: 10px;
    
    
    }

/**************************************************************
       ************header section end*****************
**************************************************************/




/**************************************************************
       ************banner section start*****************
**************************************************************/
.banner {
    width: 100%;
    padding: 100px 0px;
}
.banner-inner{
    width: 100%;
	padding: 50px 0px;	
}
.banner-inner h4{
    font-size: 22px;
    color: #0c6b9f;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.banner-inner h1{
    font-size: 44px;
    line-height: 42px;
    color:#fff;
    font-weight: 700;
    margin-bottom: 30px;

}
.banner-inner p{
    font-size: 14px;
    color: #7f7f7f;
    font-weight: 400;
    margin-bottom: 15px;

}
.div-btn {
    width: 100%;
    margin-top: 26px;
    
}
.div-btn .btn-info{
    padding: 10px 35px;
    background: #0c6b9f;
    color: #fff;
    border: 1px solid #0c6b9f;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
   
}
.div-btn .btn-info:hover {
    background: transparent;
    color: #0c6b9f;
    border: 1px solid #0c6b9f;
    transition: 1s ease-in;
} 

.div-btn .btn-primary{
	padding: 10px 35px;
    background:transparent;
    color: #fff;
    border: 1px solid #7f7f7f;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: -1px;
}
.div-btn .btn-primary:hover{
    background:#0c6b9f;
    color:#fff;
    border: 1px solid #0c6b9f;
    transition: 1s ease-in;
}

/**************************************************************
       ************banner section end*****************
**************************************************************/

/**************************************************************
       ************feature section start*****************
**************************************************************/
.feature-section {
    width: 100%;
    padding: 0px 0px;
}
.feature-title{

}
.feature-title h1{
    font-size:34px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom:20px;
}
.feature-title h4{
    font-size:16px;
    color: #008ed6;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.feature-inner{
	width: 100%;
	padding: 60px 10px;
}
.feature-inner h4{
    margin-top: 20px;
}
.feature-inner p{
    margin-top: 15px;
    color: #7f7f7f; 
}
/**************************************************************
       ************feature section end*****************
**************************************************************/

/**************************************************************
       ************device section start*****************
**************************************************************/

.device-section{
	width: 100%;
	padding: 80px 0px;
	border-top: 1px solid #eee;
}
.device-right{
	width: 100%

}
.device-right h4{
    font-size:16px;
    color: #008ed6;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}
.device-right h1 {
    font-size: 36px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.device-right p{
    margin-top: 15px;
    color: #7f7f7f; 
}
.device-btm p{
	color:#010005;
	font-size: 14px;
	font-weight: 400;
}
/**************************************************************
       ************device section end*****************
**************************************************************/


/**************************************************************
       ************about-short section start*****************
**************************************************************/
.about-short{
	width: 100%;
	padding:50px 0px;
	background:#eee;
}
.about-left{
	width: 100%

}
.about-left h4{
    font-size:16px;
    color: #008ed6;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 20px;
}
.about-left h1{
    font-size:34px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom:20px;
}
.about-left p{
    margin-top: 15px;
    color: #7f7f7f;
}


/**************************************************************
       ************about-short section end*****************
**************************************************************/

/**************************************************************
       ************testmonial section start*****************
**************************************************************/
.testmonial-section{
	width: 100%;
	padding: 70px 0px;
	background: url(../images/test.png)center top no-repeat;
	background-size: cover;
}
.testmonials-title h4{
    font-size:16px;
    color: #008ed6;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.testmonials-title h1{
	color: #fff;
    font-size:34px;
    font-weight: 700;
    margin-bottom:20px;
}
.testmonials-title img{
	margin-bottom: 30px;
}

.testmonial .owl-carousel{
	padding:60px 0px;
}
.testi-inner{
	width: 100%;
}

.testi-inner h4{
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	padding: 20px 0px;
	margin-top: 40px;
	font-style: italic;
	
}
.testi-inner .media img{
	width:80px;
	
}
.testi-inner .media-body h5 {
    color: #d0d0d0;
   
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-top: 15px !important;
}
.testi-inner .media-body p{
	color:#d0d0d0;
	font-size:16px;
	line-height: 22px;
	font-weight: 500;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: 80px;
}

/**************************************************************
       ************testmonial section end*****************
**************************************************************/

/**************************************************************
       ************eye section start*****************
**************************************************************/
.eye-section{
	width: 100%;
	height:220px;
	background:#15141a;
}
.eye-inner{

}
.eye-inner p {
    color: #fff;
    margin: 31px 0px;
    padding-top: 27px;
    font-size: 36px;
    font-weight: 600;
}
.eye-inner span{
    color: #fff;
    font-size: 34px;
    font-weight:400;
}
.eye-btm {
    margin: 0px 0px;
    padding-top: 49px;
}
.eye-btm .btn-info {
    padding: 10px 30px;
    background: transparent;
    color: #fff;
    border: 1px solid #7f7f7f;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -10px;

}
.eye-btm .btn-info:hover{
	background:#0c6b9f;
    color:#fff;
    border: 1px solid #0c6b9f;
    transition: 1s ease-in;
}
.eye-btm .btn-primary{
	padding: 10px 30px;
    background: #0c6b9f;
    border: 1px solid #0c6b9f;
    color: #fff;
    margin-top: -1px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.eye-btm .btn-primary:hover{
	background: transparent;
    color: #0c6b9f;
    border: 1px solid #0c6b9f;
    transition: 1s ease-in;
}

/**************************************************************
       ************eye section end*****************
**************************************************************/

/**************************************************************
       ************pricing section start*****************
**************************************************************/
.pricing-section{
	width:100%;
	padding: 80px 0px; 
}
.main-price{
	width: 100%;
	margin-top: 70px;
}
.main-price .card .card-header {
    background: transparent;
    padding: 15px 0px;
}
.main-price .card .card-header h3 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}
.main-price .card .card-body{
	padding: 0px
}
.main-price .card .card-title{
    margin-bottom: 0px;
}
.main-price .card .card-title h1{
	font-size: 60px;
	font-weight: 600;
	margin: 0px;
}
.main-price .card .card-title p{
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	color: #aaa;
}
 .main-price .title-price {
   
    padding: 30px 0px;
}
.price-inner{
	width: 100%;
	padding: 40px 20px 20px;
	border-top: 1px solid #eee;
}

.price-inner p{
    font-size: 14px;
    line-height: 24px;
    color: #aaa;
}
.btn-primary {
    color: #008ed6;
    background-color: transparent;
    border-color: #eee;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #cccccc;
}
.main-price:hover .card-header h3{
    color:#008ed6; 
}
.main-price:hover .card-title h1,.main-price:hover .card-title p{
	background:#008ed6;
	color: #fff; 
}
.main-price:hover .title-price{
	background:#008ed6;
	color: #fff; 
}
.main-price:hover .btn-primary{
	background:#008ed6;
	color: #fff;
	border: 1px solid #cccccc;
}





/**************************************************************
       ************pricing section end*****************
**************************************************************/


/**************************************************************
       ************contact section start*****************
**************************************************************/
.contact{
	width:100%;
	padding: 80px 0px;
	background: #ededed;
}

.contact h4{
    font-size:16px;
    color: #008ed6;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;

}
.contact h1{
    color: #15141a;
    font-size:34px;
    font-weight: 700;
    margin-bottom:30px;
}
.contact img{

   margin-bottom: 100px;
}
 .contact .contact-inner img{
    margin-bottom: 20px;
}
.contact .contact-inner p{
    color: #999999;
}
.map-section {
    width: 100%;
    margin-top: 300px;
   position: relative;
}
.map-section{
    position: relative;
}
.map {
    margin-top: -40px;
}
.main-box-map {
    position: absolute;
    width: 50%;
    background-color: #15141a;
    top: -150px;
    left: 50%;
    transform: translate(-50%, -29%);
    padding: 90px 70px;
}
        

form .from-inner {
    background-color: transparent;
    padding: 19px;
    border: 1px solid;
}

form .from-inner::placeholder,
.form-group .mess-inner::placeholder {
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
}

.form-group .mess-inner {
    margin-bottom: 0px;
    background-color: transparent;
    border: 1px solid;
    height:153px
}
.form-group .send-btn {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 14px;
    color: white;
    padding: 12px 20px;
    background-color: #008ed6;
    border: none;
}


/**************************************************************
       ************contact section end*****************
**************************************************************/

/**************************************************************
       ************footer section start*****************
**************************************************************/

.footer-section {
    padding: 18px 0px;
    background-color: #15141a;
    margin-top: -84px;
}

.nav-bar li {
    display: inline-block;
    list-style: none;
    text-align: center;

}
.nav-bar li a {
    display: block;
    padding: 10px 15px;
    color: white;
    margin-top: 10px;
}
.nav-bar li a:hover{
    color: #008ed6;
}
.footer-nav p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#08c; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px;
  transition: 1s; /* Increase font size */
}

#myBtn:hover {
  background-color:purple; /* Add a dark-grey background on hover */
}
/**************************************************************
       ************footer section end*****************
**************************************************************/





/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header-section .bg-light {
    background-color: transparent!important;
    padding: 10px 35px;
}
.banner-inner h4 {
    font-size: 20px;
    
   
}
.banner-inner p{
    font-size: 19px;
}
.banner-inner {
    width: 100%;
    padding: 20px 12px;
}
.div-btn .btn-info {
    padding: 8px 16px;
    margin-top: 20px;
}
.div-btn .btn-primary {
    padding: 8px 25px;
    margin-top: 30px;
    margin-left: -1px;
}
.feature-title {
    padding: 37px 0px;
}
.device-left img {
    width: 281px;
}
.device-right p {
    font-size: 11px;
}
.about-right img {
    width: 391px;
    padding: 37px;
}
.testi-inner h4 {
    padding: 27px 32px;
}
.eye-section {
    height: 184px;
    
}
.media {
    padding: 10px 32px;
}
.eye-inner p {
    margin:10px 0px;
    font-size: 19px;
    margin-left: 5px;
}
.eye-inner span {
    font-size: 27px;
}
.eye-btm {
    margin: 28px 0px;
    padding: 0px 5px;
}
.eye-btm .btn-info {
    padding: 8px 11px;
    font-size: 16px;
    margin-left: -25px;
}
.eye-btm .btn-primary {
    padding: 8px 11px;
    font-size: 16px;
    
}
.main-box-map {
    width: 67%;
    top: -129px;
    padding: 33px 0px;
}
.form-group .send-btn {
    font-weight: 600;
    padding: 7px 9px;
   
}

}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
.navbar-light .navbar-brand {
    
    margin-left: 15px;
} 
  
.feature-title {
    padding: 40px;
}
.feature-inner h4 {
    font-size: 33px;
}


.eye-inner p {
    
    line-height: 29px;
}
.testi-inner {
    padding: 30px;
    width: 100%;
}

.eye-btm {
    margin: 12px 0px;
    padding: 0px 5px;
}
.device-left img {
    width: 476px;
}

.about-right img {
    width: 515px;
    padding: 81px 48px;
}
.eye-section {
    height: 184px;
    
}
.media {
    padding: 10px 32px;
}
.eye-inner p {
    margin:10px 0px;
    font-size: 19px;
    margin-left: 5px;
}
.eye-inner span {
    font-size: 27px;
}
.eye-btm {
    margin: 28px 0px;
    padding: 0px 5px;
}
.eye-btm .btn-info {
    padding: 8px 11px;
    font-size: 16px;
    margin-left: -25px;
}
.eye-btm .btn-primary {
    padding: 8px 11px;
    font-size: 16px;
    
}
.main-box-map {
    width: 67%;
    top: -129px;
    padding: 33px 0px;
}
.form-group .send-btn {
    font-weight: 600;
    padding: 7px 9px;
   
}

  
}
 
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .feature-title {
    padding: 30px;
}
.device-left img {
    width: 409px;
    
    padding-top: 43px;
    margin-left: -30px;
}

.about-right img {
    width: 515px;
    padding: 156px 67px;
}
.eye-btm {
    margin: 28px 0px;
    padding: 0px 5px;
}
.eye-btm .btn-info {
    padding: 8px 11px;
    font-size: 16px;
    margin-left: 0px;
}
.eye-btm .btn-primary {
    padding: 8px 11px;
    font-size: 16px;
    margin-top: 17px;
}
.eye-inner p {
    
    line-height: 32px;
}
.main-box-map {
    width: 59%;
    padding: 102px 31px;
}


  
}





/*****sticky css code******/


